.song-page-container {
    max-width: 1920px;
    min-height: 1020px;
    background-color: #202020;
    color: white;
    margin: 0;
    padding: 0;
}

.song-page-title {
    width: 1200px;
    margin: 0 auto;
}

.waveform-inner {
    width: 800px;
    margin-top: 10px;
}

.waveform-container {
    max-width: 1200px;
    /*line-height: 120px;*/
    margin:0 auto;
}

.waveform-style {
    border-bottom: 0.5px solid gray;
}

.waveform-container > li {
    width: 800px;
}

.playButton {
    max-width: 100px;
    height: 50px;
}

.playButton > li {
    min-width: 200px;
}

.music-record {
    width: 1200px;
    height: 120px;
    display: flex;
}
.music-record-title {
    width: 100px;
    margin: 0 20px;
}

#text {
    color: white;
}

.waveform-container-style {
    display: flex;
}

.music-waveforms-title-info {
    display: flex;
    align-items: center;
}

.music-waveforms-title-info-description {
    display: flex;
    flex-direction: column;
}

.music-waveforms-title-info > div {
    min-width: 150px;
}
.music-waveforms-title-info img {
    width: 75px;
    height: 75px;
    margin-right: 50px;
}

.music-waveforms-sound-info {
    width: 150px;
    margin: 0 20px;
}

.play-pause-icon {
    font-size: 30px;
}


.audio-duration {
    color: #bbbbbb;
}

/* 버튼 스타일 */
.move-button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #484848;
    color: #bbbbbb;
}

.move-button:hover {
    background-color: #dddddd;
    color: #202020;
}

/*.bi-chevron-right {*/
/*    font-weight: 800;*/
/*}*/